form {
    display: block;
    margin-top: 0em;
    margin-block-end: 1em;
}
table {
    border-collapse: separate;
    text-indent: initial;
    white-space: normal;
    line-height: normal;
    font-weight: normal;
    font-size: medium;
    font-style: normal;
    color: -internal-quirk-inherit;
    text-align: start;
    border-spacing: 2px;
    font-variant: normal;
}
.fix_table {
    width: 300px;
}

td {
    display: table-cell;
    vertical-align: inherit;
}
input {
    border: 1.5px solid #030337;
    border-radius: 4px;
    padding: 7px 30px;
}
user agent stylesheet
input:not([type="image" i]) {
    box-sizing: border-box;
}

input {
    -webkit-writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    text-rendering: auto;
    color: -internal-light-dark(black, white);
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    -webkit-rtl-ordering: logical;
    cursor: text;
    background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
    margin: 0em;
    padding: 1px 2px;
    border-width: 2px;
    border-style: inset;
    border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
}
input[type=submit] {
    background-color: #030337;
    color: white;
    border-radius: 4px;
    padding: 7px 45px;
    margin: 0px 127px;
}
.sidebar ul li .tooltip{
	position:absolute;
	left:125px;
	top:0;
	transform:translate(-50%, -50%);
	border-radius: 6px;
	height:35px;
	width:120px;
	background: var(--white-color);
	line-height: 35px;
	text-align: center;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	transition:0s;
	opacity:0;
	pointer-events: none;
	display:block;
	width: max-content;
  }
